<style>
	div.LeftArticle {
		float: left;
		padding: 1px;
		margin-left: 1px;
		background-color: #4D94FF;
		border-color: #333333;
		width: 402px;
		height: 394px;
		border-style: solid;
		border-width: 1px;
	}
	div.RightArticle {
		float:left;
		padding: 1px;
		margin-left: 1px;
		background-color: #6666ff;
		border-color: #333333;
		width: 402px;
		height: 394px;
		border-style: solid;
		border-width: 1px;
		text-indent: 10px;
	}
	p.Text {
		margin-left: 5px;
	}
	div.Articles {
		height: 400px;
		width: 815px;
		margin: auto;
		border-style: solid;
		border-width: 1px;
		padding: 5px;
		text-align: left;
	}
	div.Title {
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
</style>


<div class="Title"><h1>Home Page</h1><div>
<div class="Articles">
<div class="LeftArticle">
	<p class="Text">Hello This is the Main Article of the page.</p>
</div>
<div class="RightArticle">
	<p class="Text">This is the Right Side article of this page</p>
</div>
</div>
	
	
